#feed {
    width: 400px;
    /* height: 100%; */
    /* position: relative; */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: auto;
    border-right: 1px solid #ccc;
    background-color: white;
    z-index: 90;
}

#feed > #menu {
    position: relative;
    width: 100%;
    height: 50px;
    top: 0px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    background-color: white;
    z-index: 80;
}

#feed > #menu > #new-idea {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 5px;
    z-index: 100;
}

#feed > #menu > #search {
    float: right;
    width: 330px;
    height: 50px;
    position: relative;
    z-index: 90;
    background-color: white;
}

#feed > #menu > #search > input {
    height: 100%;
    font-size: 25px;
    width: 320px;
    border: none;
    padding: 0px 0px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
}

#feed > #container {
    height: 100%;
}

#feed > #container > .element {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

#feed > #container > .element > .left {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 100px;
    background-color: white;
    border-right: 1px solid #ccc;
}

#feed > #container > .element > .main {
    width: 360px;
    height: 100px;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 10px;
    position: relative;
}

#feed > #container > .element > .main > .title {
    font-size: 28px;
}

#feed > #container > .element > .main > .info {
    font-size: 12px;
}
#feed > #container > .element > .main > .footer {
    height: 20px;
    width: 300px;
    position: absolute;
    bottom: 5px;
}

#arrow {
    cursor: pointer;
    position: absolute;
    opacity: 99;
    top: 10px;
    right: -20px;
    width: 40px;
    height: 40px;
    opacity: 99;
    z-index: 50;
    transform: rotate(90deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background-color: #ccc;
}
