/* TOP-PANEL */

#top-panel {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 100;
}

#top-panel .element {
    height: 50px;
}

#logo {
    position: fixed;
    left: 0px;
    top: 0px;
}

#logo > p { 
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50%;
    margin: -15px 0px 0px 10px;
    padding: 0px;
}

#user-info {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 5px 10px 0px 0px;
}

#user-info > #name {
    font-size: 25px;
    font-weight: 500;
    float: left;
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
}

#user-info > #photo {
    height: 50px;
    width: 50px;
    float: left;
}

#user-info > #photo > img {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px; 
}

#main-panel {
    width: 100%;
    height: 700px;
    margin: 60px 0px 0px 0px;
    position: absolute;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.round-border {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.shadow {
    box-shadow: 0 2px 3px #ccc;
    -moz-box-shadow: 0 2px 3px #ccc;
    -webkit-box-shadow: 0 2px 3px #ccc;
    -ms-box-shadow: 0 2px 3px #ccc;
    -o-box-shadow: 0 2px 3px #ccc;
}

/* FEED */

#feed {
    width: 400px;
    /* height: 100%; */
    /* position: relative; */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: auto;
    border-right: 1px solid #ccc;
    background-color: white;
    z-index: 90;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#feed > #menu {
    position: relative;
    width: 100%;
    height: 50px;
    top: 0px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    background-color: white;
    z-index: 80;
}

#feed > #menu > #new-idea {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 5px;
    z-index: 100;
}

#feed > #menu > #search {
    float: right;
    width: 330px;
    height: 50px;
    position: relative;
    z-index: 90;
    background-color: white;
}

#feed > #menu > #search > input {
    height: 40px;
    font-size: 25px;
    width: 300px;
    border: none;
    padding: 0px 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
}

#feed > #container {
    height: 100%;
}

#feed > #container > .element {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

#feed > #container > .element > .left {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 100px;
    background-color: #ccc;
    border-right: 1px solid #ccc;
}

#feed > #container > .element > .main {
    width: 360px;
    height: 100px;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 10px;
    position: relative;
}

#feed > #container > .element > .main > .title {
    font-size: 28px;
}

#feed > #container > .element > .main > .info {
    font-size: 12px;
}
#feed > #container > .element > .main > .footer {
    height: 20px;
    width: 300px;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
}

#arrow {
    cursor: pointer;
    position: absolute;
    opacity: 99;
    top: 10px;
    right: -20px;
    width: 40px;
    height: 40px;
    opacity: 99;
    z-index: 50;
    transform: rotate(90deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.up {
}

/* Project */

#project {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: auto;
    background-color: white;
    margin: 0px 0px 0px 400px;
    width: 400px;
    padding: 20px 20px 0px 20px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-right: 1px solid #ccc;
}

#project > #info {
    width: 90%;
    margin: 0px auto;
}

#project > #info > #title {
    border-bottom: 1px solid #eee;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 500;
}

#project > #info > #content {
    padding: 0px 0px 10px 0px;
}

#project > #info > #content > #description {
    display: inline-block;
    width: 55%;
    height: 100%;
    vertical-align: top;
}

#project > #info > #content > #other-info {
    display: inline-block;
    width: 35%;
    height: 100%;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-left: 10px;
}

#project > #info > #content > #other-info > .element {
    padding: 0px 0px 5px 0px;
}

#project > #info > #content > #other-info > .element > .title {
    font-size: 20px;
    font-weight: 500;
}

#project > #info > #content > #other-info > .element > .content {
    font-size: 14px;
}

